<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pagamento">
      <h2 data-cy="pagamentoDetailsHeading"><span jhiTranslate="pedidosOnlineApp.pagamento.detail.title">Pagamento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ pagamento.id }}</span>
        </dd>
        <dt><span jhiTranslate="pedidosOnlineApp.pagamento.valor">Valor</span></dt>
        <dd>
          <span>{{ pagamento.valor }}</span>
        </dd>
        <dt><span jhiTranslate="pedidosOnlineApp.pagamento.dtPagamento">Dt Pagamento</span></dt>
        <dd>
          <span>{{ pagamento.dtPagamento | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pedidosOnlineApp.pagamento.conta">Conta</span></dt>
        <dd>
          <div *ngIf="pagamento.conta">
            <a [routerLink]="['/conta', pagamento.conta.id, 'view']">{{ pagamento.conta.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pedidosOnlineApp.pagamento.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="pagamento.cliente">
            <a [routerLink]="['/conta', pagamento.cliente.id, 'view']">{{ pagamento.cliente.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/pagamento', pagamento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
