<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cardapio-heading" data-cy="CardapioCreateUpdateHeading" jhiTranslate="pedidosOnlineApp.cardapio.home.createOrEditLabel">
        Criar ou editar Cardapio
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pedidosOnlineApp.cardapio.dtCardapio" for="field_dtCardapio">Dt Cardapio</label>
          <div class="input-group">
            <input
              id="field_dtCardapio"
              data-cy="dtCardapio"
              type="text"
              class="form-control"
              name="dtCardapio"
              ngbDatepicker
              #dtCardapioDp="ngbDatepicker"
              formControlName="dtCardapio"
            />
            <button type="button" class="btn btn-secondary" (click)="dtCardapioDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
