<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="itemCardapio">
      <h2 data-cy="itemCardapioDetailsHeading"><span jhiTranslate="pedidosOnlineApp.itemCardapio.detail.title">Item Cardapio</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ itemCardapio.id }}</span>
        </dd>
        <dt><span jhiTranslate="pedidosOnlineApp.itemCardapio.cardapio">Cardapio</span></dt>
        <dd>
          <div *ngIf="itemCardapio.cardapio">
            <a [routerLink]="['/cardapio', itemCardapio.cardapio.id, 'view']">{{ itemCardapio.cardapio.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pedidosOnlineApp.itemCardapio.produto">Produto</span></dt>
        <dd>
          <div *ngIf="itemCardapio.produto">
            <a [routerLink]="['/produto', itemCardapio.produto.id, 'view']">{{ itemCardapio.produto.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/item-cardapio', itemCardapio.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
